@import url('./colors.css');
@import url('normalize.css');

html {
    display: flex;
    justify-content: center;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    max-width: 720px;
}

.nav {
    margin: 0 !important;
}

/* HEADER */
header h1 {
    text-align: center;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

main .inputContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

main #input {
    flex-grow: 1;
}

main .valid {
    background-color: var(--valid)
}

main .invalid {
    background-color: var(--invalid)
}

main .hidden {
    display: none;
}

/* Dictionaries */
#dictionaries {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}