@import url(../colors.css); 

.blogpost a{
    font-size: medium;
    font-weight: normal;
    transition: all 0.1s;
    text-decoration: underline;
}

.blogpost a:hover{
    background-color: var(--highlight);
}