:root {
    --background: #fffdf8;
    --text: #171717;
    --highlight: #c2fffb;
    --text-highlight: #246374;
    --main: #ffadd3;
    --dark-main: #9d2f62;
    --muted: #64605e;
    --shadow: #171717;
    --dot: #e5dfd7;
    --card: #fff7fb;
}

@media(prefers-color-scheme: dark) {
    :root {
        --background: #151515;
        --text: #ffffff;
        --highlight: #2d5b6b;
        --text-highlight: #C2FFFB;
        --main: #9d2f62;
        --dark-main: #ffadd3;
        --muted: #b9b2ae;
        --shadow: #000000;
        --dot: #3a3338;
        --card: #241a20;
    }
}
